:root {
    --bg-color: #ffffff;
    --text-color: #111111;
    --card-color: #ffffff;
}

/* Dark mode values */
body.dark-mode {
    --bg-color: #0f172a;
    --text-color: #ffffff;
    --card-color: #1e293b;
}
.dark-mode {
    background-color: #111;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Portfolio Banner */
.portfolio-banner {
    height: 300px;
    background: url("images/portfolio.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.portfolio-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
}

.portfolio-banner h1 {
    position: relative;
    color: white;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Brush Script MT', cursive;
    letter-spacing: 3px;
    z-index: 2;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    z-index: 1000;
}

.nav-left {
    display: flex;
    gap: 30px;
}

.nav-left a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}

.nav-left a:hover {
    color: red;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}


.logo {
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
    transition: 0.3s;
}


.theme-toggle {
    background: transparent;
    border: 2px solid white;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}

.theme-toggle:hover {
    color: red;
    border-color: red;
    box-shadow: 0 0 15px red;
    transform: rotate(180deg);
}




/* Sidebar Menu */
.nav-links {
    position: fixed;
    top: 0;
    left: -250px; /* hidden */
    width: 250px;
    height: 100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    list-style: none;
    transition: 0.4s ease;
    z-index: 1050;
}

.nav-links.active {
    left: 0;
}

.nav-links li {
    margin: 20px 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}



/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1000;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
    padding-top: 70px;
}


/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
    background: var(--card-color);
    gap: 60px; /* controls distance between text & images */
}

/* LEFT TEXT */
.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.6;
}

/* Social Icons */
.social-icons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.social-icons a {
    width: 50px;
    height: 50px;
    background: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.3s ease;
}

.social-icons a:hover {
    background: black;
    color: white;
    transform: translateY(-5px);
}



/* RIGHT IMAGES */
.hero-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px; /* space between images */
}

/* Remove any absolute positioning */
.image-large,
.image-small {
    position: static;
}

/* IMAGE STYLE */
.image-large img,
.image-small img {
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    cursor: pointer;
}

/* POP OUT EFFECT */
.image-large img:hover,
.image-small img:hover {
    transform: translateY(-12px) scale(1.07);
    box-shadow: 
        0 25px 50px rgba(0, 0, 0, 0.4),
        0 0 25px #c1ddde;
}



/* MOBILE VIEW */
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 120px 20px 50px;
    }

    .social-icons {
    justify-content: center;
}


    .hero-images {
        display: flex;
        flex-direction: row;   /* ensures 1 2 horizontal */
        justify-content: center;
        gap: 15px;
        margin-top: 40px;
    }

    .image-large img,
    .image-small img {
        width: 42vw;
        max-width: 180px;
    }
}

@media (max-width: 480px) {

    .image-large img,
    .image-small img {
        width: 40vw;
    }
}

    
/* About Section */
.about {
    padding: 80px 8%;
    background: linear-gradient(135deg, #0f0f0f, #1a1a2e);
    color: white;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.about-card {
    max-width: 900px;
    margin: auto;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 1.8;
    font-size: 17px;
    transition: 0.4s ease;
}

.about-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.3);
}

.about-card p {
    margin-bottom: 20px;
}

/* Highlight Style */
.highlight {
    color: #5ecfeb;
    font-weight: 600;
}

#works {
    padding: 50px 8%;
    background: linear-gradient(135deg, #0f0f0f, #1a1a2e);
    color: white;
}

#works h2 {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 2px;
    color: #00f5ff;
}

.work-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s ease;
}

.work-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.3);
}

.work-card h3 {
    margin-bottom: 15px;
    color: #00f5ff;
}

.skills {
    margin-top: 10px;
    color: #aaa;
}

.education {
    padding: 80px 8%;
    background: linear-gradient(135deg, #0f0f0f, #1a1a2e);
    color: white;
}

.education h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #00f5ff;
    letter-spacing: 2px;
}

.edu-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 25px 30px;
    margin-bottom: 25px;
    border-radius: 15px;
    border-left: 5px solid #00f5ff;
    transition: 0.3s ease;
}

.edu-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 20px rgba(0, 245, 255, 0.6);
}

.edu-card h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.year {
    color: #ccc;
    font-size: 15px;
}

.contact {
    padding: 80px 20px;
    background: #000;
    text-align: center;
    color: white;
}

.contact h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 25px;
}
.contact-email {
    margin-bottom: 20px;
}

.contact-email a {
    color: #00f5ff;
    text-decoration: none;
    font-size: 18px;
    pointer-events: auto;
}

.contact-email a:hover {
    text-decoration: underline;
}

.or {
    color: white;
    margin: 15px 0;
}
.or-text {
    margin: 25px 0;
    font-weight: bold;
    letter-spacing: 2px;
}

/* FORM */
.contact-form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* INPUTS */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 18px;
    background: #1a1a1a;
    border: 2px solid #00f5ff;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    outline: none;
}

/* TEXTAREA HEIGHT */
.contact-form textarea {
    height: 160px;
    resize: none;
}

/* BUTTON */
.contact-form button {
    width: 120px;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #00f5ff;
}


/* COPYRIGHT */
.copyright {
    margin-top: 40px;
    font-size: 14px;
    color: #aaa;
}

@media (max-width: 768px) {

    /* Hide desktop links */
    .nav-left {
        display: none;
    }

    /* Show hamburger */
    .hamburger {
        display: flex;
    }

    /* Sidebar */
    .nav-links {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background: #111;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        list-style: none;
        transition: 0.4s ease;
        z-index: 1050;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    /* Overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        z-index: 1000;
    }

    .overlay.active {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (min-width: 769px) {

    .nav-links {
        display: none;
    }

    .overlay {
        display: none;
    }
}




@keyframes floatImage {
    0% { transform: translateY(0px); }
    50% { transform: translateY(12px); }
    100% { transform: translateY(0px); }
}
